@import url("https://fonts.googleapis.com/css?family=Josefin Sans:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Arvo:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Sedan SC:100,200,300,400,500,600,700");
@import url(classy-nav.css);

:root {
  --brand: #d2337a;
  --sub: #334ac4;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

html,
body {
	font-family: "Arvo", sans-serif;
	-webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Arvo", sans-serif;
	color: #707070;
	font-weight: 400;
	line-height: 26px;
}

/* li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0; 
}
ul li {
  margin: 0;
  padding: 0; 
} */

a {
  color: var(--body);
  text-decoration: none;
}

a:hover {
  color: var(--brand);
  text-decoration: none;
}

.text-brand{
  color: var(--brand);
}

.background-brand{
  background-color: var(--brand);
}

.btn-brand{
  background-color: var(--brand);
  color: white;
}

.btn-brand:hover{
  background-color: white;
  color: var(--brand);
  border: 1px solid var(--brand);
}

/* Topbar */
.topbar{
  background-color: #001233;
}
.topbar .icons a{
  color: black;
  background-color: white;
  border: 1px solid white;
}

.topbar .icons a:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* Back to Top */
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background-color: var(--brand);
  color: #FFF;
}

.back-to-top:hover{
  color: white;
}

/* Float Icons */
.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:110px;
  left:20px;
  background-color:#37b6ff;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-2 {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  left:20px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float {
  margin-top:16px;
}

.float:hover {
  color: #37b6ff;
  background-color: white;
  border: 1px solid #37b6ff;
}

.float-2:hover {
  color: #25d366;
  background-color: white;
  border: 1px solid #25d366;
}

/*** Footer ***/
.footer{
  /* background-color: white; */
  background: linear-gradient(to right,rgb(210, 51, 122) , rgb(51, 74, 196));
}

.footer a{
  text-decoration: none;
}

.footer-head{
  color: white;
  font-weight: 900;
}

.footer-color{
  color: #ffffff;
  /* color: black; */
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
  /* background-color: var(--brand);
  border: 1px solid var(--brand); */
}

.footer .btn.btn-social:hover {
  color: black;
  /* background-color: white; */
  /* background-color: black;
  border: 1px solid var(--brand); */
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  /* color: black; */
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: white;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
  color: white;
}

.footer .copyright a:hover {
  color: #b9babc;
}


.close {
  color: #000;
  opacity: 0.7;
  font-size: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.close:hover {
  opacity: 1;
}


@media only screen and (min-width: 975px) {
  .cat-cap h3{
    font-size: 26px;
    padding: 20px 30px 0px 30px;
  }
}

.single-cat:hover 
.decorate_blog_bt1 {
 background-color: rgb(0, 0, 0);
 color: #ffffff;
}

.feature-1-content p{
  text-align: justify;
}
.cat-cap h3{
  font-size: 21px;
  padding: 10px 20px 0px 20px;
}

.main-about p{
  text-align: justify;
}


/* @media only screen and (min-width: 975px) {
  .cat-cap-motor{
    height: 1090px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */

.vendor-carousel-border img{
  border: 10px solid var(--sub);
}

.main-about{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.slide-exp{
  /* background-color: transparent; */
  background-color: rgb(255, 255, 255, 0.3);
  padding: 50px 0px 20px 0px;
  border-radius: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 700px;
  }
  .carousel-caption {
    top: 5%;
  }
  .slide-exp{
    margin: 0px 20px;
  }
  .slide-exp .counter__item .counter__item__number h2{
    font-size: 36px;
    margin-left: 20px;
  }
}
.carousel-caption-2 {
  top: 5%;
}

@media (min-width: 968px) {
.carousel-caption-2 .shadow{
  margin: 20px 0px;
}
}




/* Header */
.header {
  padding: 5px 0;
  transition: all 0.5s;
  z-index: 997;
  position: sticky;
  /* overflow: hidden; */
}

.header.sticked {
  background: white;
  box-shadow: 0px 2px 20px rgba(var(--body), 0.1);
}

.header .logo img {
  max-height: 100px;
  /* margin-right: 6px; */
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  font-size: 16px;
  color: var(--brand);
  background: white;
  border: 1px solid var(--brand);
  padding: 8px 23px;
  border-radius: 4px;
  transition: 0.3s;
  font-family: var(--font-secondary);
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: white;
  background: var(--brand);
}

@media (max-width: 1279px) {

  .header .btn-getstarted,
  .header .btn-getstarted:focus {
    /* margin-right: 50px; */
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .top-buttons{
    margin-top: 40px;
  }
}

/* Desktop Navigation */
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
    position: relative;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: var(--brand);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(0.7);
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--brand);
  }

  /* .navbar .dropdown a:hover:before,
  .navbar .dropdown:hover>a:before,
  .navbar .dropdown .active:before {
    visibility: hidden;
  } */

  /* .navbar .dropdown a:hover,
  .navbar .dropdown .active,
  .navbar .dropdown .active:focus,
  .navbar .dropdown:hover>a {
    color: white;
    background: var(--brand);
  } */

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--dark);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: white;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  /* .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: white;
    background: var(--brand);
  } */

  .navbar .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
  }

  .navbar .megamenu {
    position: static;
  }

  .navbar .megamenu ul {
    right: 0;
    padding: 10px;
    display: flex;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    min-width: 1050px;
    margin-left: -500px;
  }

  .navbar .megamenu ul li {
    flex: 1;
  }

  .navbar .megamenu ul li a,
  .navbar .megamenu ul li:hover>a {
    color: white;
    background: none;
  }

  /* .navbar .megamenu ul li a:hover,
  .navbar .megamenu ul li .active,
  .navbar .megamenu ul li .active:hover {
    color: white;
    background: var(--brand);
  } */

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/* Mobile Navigation */
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 10px 0;
    margin: 0;
    /* background: var(--body); */
    background: white;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    /* color: white; */
    color: var(--body);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  /* .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: white;
    background: var(--brand);
  } */

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid white;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: block !important;
    color: black;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }

  .mobile-nav-toggle.bi-x {
    color: white;
  }

  .mobile-nav-active {
    overflow: hidden;
    z-index: 9995;
    position: relative;
  }

  .mobile-nav-active .navbar {
    left: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(var(--color-secondary-rgb), 0.8);
    z-index: 9996;
  }
}

/* .navbar .megamenu ul li a,
  .navbar .megamenu ul li:hover>a {
    color: white;
    background: none;
  } */

  /* .navbar .megamenu ul li a:hover,
  .navbar .megamenu ul li .active,
  .navbar .megamenu ul li .active:hover {
    color: white;
    background: var(--brand);
  } */

  .image-drop {
    display: flex;
    align-items: center;
    /* border-bottom: 3px dotted black; */
}

.image-drop img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Adjust spacing between image and link */
}

@media (max-width: 768px) {
    .image-drop {
        flex-direction: column;
        align-items: center;
    }

    .image-drop img {
        margin-right: 0; /* Remove right margin on mobile */
        margin-bottom: 10px; /* Add bottom margin on mobile for spacing */
    }
}

.logo{
  color: black;
  font-size: 20px;
}
.logo:hover{
  color: black;
}

.service-points li{
	color: #707070;
}

.main-about:hover{
  background: linear-gradient(to right,rgb(210, 51, 122) , rgb(51, 74, 196));
}

.main-about:hover h2{
  color: var(--sub);
}

.main-about:hover h2,
.main-about:hover p,
.main-about:hover h5,
.main-about:hover ul li{
  color: white;
}


.main-about:hover .product-btn a{
  color: #ffffff;
  background-color: black;
  border: 1px solid black;
}

.class-font{
	font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.about-us-text p{
	font-family: "Sedan SC", sans-serif;
  font-size: 18px;
  text-align: justify;
  font-weight: 900;
}

/* .about-us-content{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
} */

@media (min-width: 980px) {
/* .single-cat-height{
  height: 1150px;
} */
.slider-3{
  height: 550px;
}
}